{% extends 'layout.html' %}

{% block body %}
    <h1>Produtos</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <br>
    <a class="btn btn-success" href="/add_product"> Adicionar Produto </a>
    <br>
    <br>
    <div class="form-group">
        <form method="POST" action="">
            <div class="row">
                <div class="col-sm-8">
                    {{render_field(form.search, class_="form-control")}}
                </div>
                <div class="col-sm-4">
                    <button type="submit" style="margin-top: 10%;" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
    <br><br>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td><a href="product/{{product[0]}}"> {{product[0]}} </a></td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
                <td>{{product[4]}}</td>
                <td><a href="edit_product/{{product[0]}}" class="btn btn-default pull-right">Editar</a></td>
                <td>
                    <a class="btn btn-danger" href="/delete_product/{{product[0]}}"> Remover </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}